<html>
    <head>
        <title>Ethnicity</title>
    </head>
    <body background="http://brittahoward.edublogs.org/files/2008/04/races2.jpg">
        <div id="container">
            <div class="title">
                <h1><font color="white">Let me guess your Ethnicity!</font></h1>
            </div>
            <div id="content">
                <form method="post" action="">
                  <label for="lastname"><font color="white">Please enter your last name:</font></label>
                  <input type="text" name="lastname" /><br />
                  <input type="submit" />
                </form>
            </div>
        </div>
    </body>
</html>
