<html>
    <head>
        <title>Ethnicity</title>
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Let me guess your Ethnicity! Your last name please!</h1>
            </div>
            <div id="content">
                <form method="post" action="">
                  <label for="lastname">Please enter your last name:</label>
                  <input type="text" name="lastname" /><br />
                  <input type="submit" />
                </form>
            </div>
        </div>
    </body>
</html>
