<html>
    <head>
        <title>Ethnicity</title>
    </head>
    <style>
      body {
          background: url("../static/races.jpg") repeat;
      }
    </style>
    <body>
        <div id="container" align="center">
            <div class="title">
                <h1><font color="white">Let me guess your Ethnicity!</font></h1>
            </div>
            <div id="content">
                <form method="post" action="">
                  <label for="lastname"><font color="white">Please enter your last name:</font></label>
                  <input type="text" name="lastname" /><br />
                  <input type="submit" />
                </form>
            </div>
        </div>
    </body>
</html>
